<ng-include src="'/templates/navbar-home.html'"></ng-include>

<div class="background-img">
    <div class="background-filter">
        <main class="container">
            <div>
                <div class="container">
                    <div class="col-sm-5 main-left">
                        <h1>Track your <span> energy </span> consumption and electricity <span>prices</span> to reduce your bills and stop the climate change</h1>
                        <button> <a class="btn btn-lg" href="/#!/register" role="button">REGISTER HERE!</a></button>
                    </div>
                    <div class="col-sm-6 col-sm-offset-1 main-right">
                        <h2>What you will see...</h2>
                        <div class="col-xs-12 features-list">
                            <div class="col-xs-3 col-md-2">
                                <i class="fa fa-bolt fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 col-md-10">
                                <h3>Real-time Energy Consumption</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 features-list">
                            <div class="col-xs-3 col-md-2">
                                <i class="fa fa-money fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 col-md-10">
                                <h3>Hourly Energy Prices</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 features-list">
                            <div class="col-xs-3 col-md-2">
                                <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 col-md-10">
                                <h3>All Your Aggregated Consumption</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
