<header>
    <nav class="navbar navbar-inverse navbar-static-top" id="navbar-style">
        <div class="container" id="nav-style">
            <div class="col-xs-7 col-sm-10">
                <a class="navbar-brand" href="#!/"><img class="logo" src="../img/logo-elecons.png" alt=""></a>
            </div>
            <div class="col-xs-5 col-sm-2">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a class="colored-icons " href="../#!/register"><span class="glyphicon glyphicon-pencil"></span> <span> Sign up</span> </a></li> -->
                    <li><a class="colored-icons " href="../#!/login"><span class="glyphicon glyphicon-log-in"></span> <span> Login</span> </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
