<ng-include src="'/templates/navbar.html'"></ng-include>

<div class="col-sm-9 col-lg-10 container neighbours">
    <div id="neighbours-button">
        <h2>Neighbours Comparison</h2>
        <p>You can compare how efficient you are compared to your neighbours savings </p>
        <div class="row status-box">
            <div class="col-md-5 col-md-offset-1">
                <h4>Compare to your neighbours</h4>
                <div id="neighbours-chart"> </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="col-xs-12 statusGoodDashboard">
                    <h3 ng-show="showStatusNeighbours()">You are a Super Energy Efficient Consumer!!</h3>
                </div>
                <div class="col-xs-12 statusBadDashboard">
                    <h3 ng-show="!showStatusNeighbours()">You can do it better... Try to be more Efficient!!</h3>
                </div>
                <div class="col-xs-12" ng-controller="ApiController as vm">
                    <h4>Ranking</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 160 160">
                        <g>
                            <circle style="fill:transparent;stroke:#F2CF61;stroke-width:1;stroke-miterlimit:10;" cx="80" cy="80" r="80">
                            </circle>
                            <circle style="fill:transparent;stroke:#F2CF61;stroke-width:1;stroke-miterlimit:10;" cx="80" cy="80" r="85">
                            </circle>
                            <text class="circle-power-date" x="50%" y="30%" text-anchor="middle" fill="#F2CF61"> # {{neighboursPosition}}</text>
                            <text class="circle-power" x="50%" y="50%" text-anchor="middle" fill="#4AB8A1">out of</text>
                            <text class="circle-power-date" x="50%" y="70%" text-anchor="middle" fill="#F2CF61"> {{vm.users.length}} users</text>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
